<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424126352533-ncmrk19h5td5mi93hv28sdcm0gk3il7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424126352533-ncmrk19h5td5mi93hv28sdcm0gk3il7l</string>
	<key>API_KEY</key>
	<string>AIzaSyBp1cVaJ0sTj6Y6DFPH8PLCw4atfKsEFY4</string>
	<key>GCM_SENDER_ID</key>
	<string>424126352533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceappbloc</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-126ea</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-126ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424126352533:ios:1881eac8449b081bb55f9c</string>
</dict>
</plist>